@use "../../../../../styles" as *;

.tab {
  align-items: center;
  border-radius: 4px;
  color: $light-grey;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 10px;
  font-weight: 600;
  justify-content: center;

  &[data-selected="true"] {
    background-color: $background;
    color: $white;
  }
}
