@use "../../../styles/" as *;

.main {
  display: flex;
  justify-content: center;
  padding: 0 16px 16px;
}

.main_container {
  max-width: 1072px;
  padding-top: 48px;
  width: 100%;

  @include media-query($tablet-s) {
    padding-top: 16px;
  }
}

.game {
  background-color: $background-two;
  border-radius: 4px;
  display: flex;

  @include media-query($laptop-s) {
    flex-direction: column-reverse;
  }
}

.display {
  max-width: 747px;
  width: 100%;

  @include media-query($laptop-s) {
    max-width: none;
  }
}
