@use "../../../../styles" as *;

.container {
  border-right: 1px solid $separator;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 24px;
  width: 325px;
}

.tab_container {
  border: 1px solid $separator;
  border-radius: 4px;
  display: flex;
  height: 48px;
  padding: 3px;
}

.primary_fields {
  display: flex;
  gap: 10px;
  height: 48px;
}

.number_field {
  flex: 1;
}

.modifier {
  background-color: transparent;
  border: 1px solid $separator;
  border-radius: 4px;
  color: $cloudy-blue;
  cursor: pointer;
  flex: 0.45;
  font-weight: 600;
  transition: background-color 0.5s ease, color 0.5s ease;

  &:hover {
    background-color: $background;
    color: $white;
  }
}

.half {
  @extend .modifier;

  font-size: 18px;
}

.double {
  @extend .modifier;

  font-size: 12px;
}

.button {
  @extend .button_component;

  height: 48px;
  letter-spacing: normal;
  width: 100%;
}


.secondary_fields {
  display: flex;
  gap: 10px;
}

.free_rounds {
  font-weight: 600;
  text-transform: uppercase;
}

.free_rounds_value {
  color: $white;
  font-size: 10px;
  margin-right: 3px;
}

.free_rounds_label {
  color: $light-grey;
  font-size: 10px;
}
