!.env.example
!.vscode/extensions.json
.cache
.DS_Store
.env
.env.*
.fleet
.idea
.nitro
.output
.pnp
.pnp.js
.vercel
*.local
*.log
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
*.tsbuildinfo
bin
build
coverage
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
obj
out
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
