@use "../../styles" as *;

.button {
  background-color: $red;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0.4px;
  transition: background-color 0.5s ease;
  width: 98px;

  &:hover {
    background-color: $dark-red;
  }
}
