@use "../../" as *;

.multiplier_running_area {
  align-items: center;
  background-color: $background-three;
  border-radius: 8px;
  display: flex;
  height: 80px;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 180px;

  @include media-query($tablet-s) {
    height: 60px;
    width: 160px;
  }
}

.multiplier {
  color: $white;
  font-family: $mono-font, $default-font;
  font-size: 32px;
  font-weight: 700;
}
