@use "../../../../styles/" as *;

.container {
  border-right: 1px solid $separator;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 325px;
  padding: 16px 24px;
  width: 100%;

  @include media-query($laptop-s) {
    border: 0;
    max-width: none;
  }
}

.tab_container {
  border: 1px solid $separator;
  border-radius: 4px;
  display: flex;
  height: 48px;
  padding: 3px;
}
