@use "../../styles/" as *;

.wallet {
  align-items: center;
  border: 1px solid $separator;
  border-radius: 4px;
  color: $white;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  height: 40px;
  letter-spacing: 1px;
  padding: 0 16px;
}

.currency {
  font-size: 14px;
}

.icon {
  width: 16px;
}
