$background-two: #1a242d;
$background: #0f1923;
$dark-green: #006d3f;
$dark-red: #cc2843;
$darker-green: #01b166;
$grey: #72788d4d;
$light-grey: #bcbfc7;
$lime-green: #04d47c;
$red: #f12c4c;
$separator: #323b45;
