$background-three: #1b2430;
$background-two: #1a242d;
$background: #0f1923;
$black: #000;
$cloudy-blue: #acb1cd;
$dark-background-four: #262f3c;
$dark-green: #006d3f;
$dark-red-2: #c71833;
$dark-red: #a81e35;
$darker-green: #01b166;
$grey-2: #2e3142cc;
$grey: #72788d4d;
$light-blue: #b3d4fc;
$light-grey: #bcbfc7;
$lime-green: #04d47c;
$red: #f12c4c;
$separator: #323b45;
$white: #fff;
