@use "./colors" as *;

.button_component {
  background-color: $red;
  border-radius: 4px;
  color: $white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  letter-spacing: 0.4px;
  transition: background-color 0.5s ease;
  width: 98px;

  &[disabled] {
    cursor: no-drop;
    opacity: 0.3;
  }

  &:active {
    transform: translate(0, 1px);
  }

  &:hover {
    background-color: $dark-red;
  }
}
