@use "./fonts/roboto-mono";
@use "./fonts/roboto";
@use "./fonts/sofia-pro";

$primary-font: "Roboto";
$highlight-font: "SofiaPro";
$mono-font: "RobotoMono";
$default-font: sans-serif;

$group-font: $primary-font, $default-font;
