@font-face {
  font-family: SofiaPro;
  font-weight: 400;
  src: url("/src/styles/fonts/SofiaPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: SofiaPro;
  font-weight: 600;
  src: url("/src/styles/fonts/SofiaPro-SemiBold.otf") format("opentype");
}

$primary-font: "Roboto";
$highlight-font: "SofiaPro";
$mono-font: "Roboto Mono";
$default-font: sans-serif;

$group-font: $primary-font, $default-font;
