@font-face {
  font-family: RobotoMono;
  font-weight: 400;
  src: url("/src/styles/fonts/roboto-mono/RobotoMono-Regular.ttf") format("opentype");
}

@font-face {
  font-family: RobotoMono;
  font-weight: 500;
  src: url("/src/styles/fonts/roboto-mono/RobotoMono-Medium.ttf") format("opentype");
}

@font-face {
  font-family: RobotoMono;
  font-weight: 700;
  src: url("/src/styles/fonts/roboto-mono/RobotoMono-Bold.ttf") format("opentype");
}
