@use "../../../styles" as *;

.main {
  display: flex;
  justify-content: center;
}

.main_container {
  padding-top: 48px;
}

.game {
  background-color: $background-two;
  border-radius: 4px;
  display: flex;
}

.display {
  width: 747px;
}
