@use "../../styles/" as *;

.header_area {
  border-bottom: 1px solid $separator;
  display: flex;
  height: 72px;
  justify-content: center;
  padding: 0 16px 0 144px;

  @include media-query($tablet-m) {
    padding: 0 16px 0 64px;
  }
}

.logo {
  align-items: center;
  display: flex;
  height: 72px;
  padding-left: 16px;
  position: absolute;
}

.header_container {
  display: flex;
  justify-content: space-between;
  max-width: 1072px;
  width: 100%;
}

.menu {
  align-items: center;
  display: flex;
  gap: 24px;
}

.button {
  @extend .button_component;
}

@include media-query($tablet-s) {
  .menu {
    gap: 12px
  }

  .button {
    width: 82px;
  }
}
